#createWidgetModal.modal.fade{ 'aria-hidden' => 'true', 'aria-labelledby' => 'createWidgetModalLabel', role: 'dialog', tabindex: '-1' }
  .modal-dialog{ role: 'document' }
    .modal-content
      .modal-header
        %h5#createWidgetModalLabel.modal-title Create a Widget
        %button.close{ 'aria-label' => 'Close', 'data-dismiss' => 'modal', type: 'button' }
          %span{ 'aria-hidden' => 'true' } ×
      .modal-body
        = form_tag(widgets_path) do
          .form-group
            %label{ for: 'widget_email' } Name
            = text_field :widget, :name, class: 'form-control'
          .form-group
            %label{ for: 'widget_password' } Description
            = text_area :widget, :description, class: 'form-control'
          .form-group
            %label{ for: 'widget_password' } Kind
            .custom-control.custom-radio
              = radio_button :widget, :kind, 'visible', checked: true, class: 'custom-control-input'
              %label.custom-control-label{for: "widget_kind_visible"} Visible
            .custom-control.custom-radio
              = radio_button :widget, :kind, 'hidden', class: 'custom-control-input'
              %label.custom-control-label{for: "widget_kind_hidden"} Hidden
          = submit_tag 'Submit', class: 'btn btn-primary'