.container

  %h1.mt-5 My Widgets

  %table.table
    %thead
      %th ID
      %th NAME
      %th DESCRIPTION
      %th KIND
      %th USER
      %th{ colspan: 2 }
    %tbody
      - @widgets.each do |widget|
        %tr
          %td
            %span= widget.id
          %td
            %span= widget.name
          %td
            %small= widget.description
          %td
            %span= widget.kind
          %td
            = link_to '#', 'data-target' => "#userShowModal-#{widget.user.id}", 'data-toggle' => 'modal', type: 'button' do
              = image_tag widget.user.images.small_url, alt: widget.user.name, height: 30
              %i= widget.user.name
          %td
            = link_to 'Edit', '#', 'data-target' => "#editWidgetModal-#{widget.id}", 'data-toggle' => 'modal'
          %td
            = link_to 'Delete', widget_path(widget.id), method: :delete, data: { confirm: 'Are you sure?' }
        = render '/users/show', user: widget.user
        = render '/widgets/edit', widget: widget