.container.mb-5
  .card.mb-3
    .card-body.d-flex
      .image
        = image_tag @user.images.large_url, alt: @user.name, size: 200
      .info
        %h5.card-title= @user.name
        %b= @user.try(:email)
        - if @user.eql?(@current_user)
          .my-3
            = link_to 'Edit profile', '#', 'data-target' => "#editUserModal", 'data-toggle' => 'modal', type: 'button', class: 'btn btn-primary'
            = link_to 'Change password', '#', 'data-target' => "#changePasswordModal", 'data-toggle' => 'modal', type: 'button', class: 'btn btn-primary'

  .table-header.mt-3.d-flex.justify-content-between
    .left
      %h3 Widgets by #{@user.name}
    .right.d-flex
      = form_tag(user_search_widgets_path(@user.id), method: :get, class: 'form-inline my-2 my-lg-0') do
        = text_field_tag :term, nil, placeholder: 'Search a widget...', class: 'form-control mr-sm-2', input_html: {"aria-label" => "Search", placeholder: "Search", type: "search"}
        = submit_tag 'Search', class: 'btn btn-outline-success my-2 my-sm-0 mx-1'
      - if @current_user.eql?(@user)
        = link_to 'Create Widget', '#', 'data-target' => "#createWidgetModal", 'data-toggle' => 'modal', type: 'button', class: 'btn btn-primary ml-1'
        = render '/api/v1/widgets/create'
  %table.table
    - if @widgets.blank?
      %thead
        %td
          - if params[:term]
            Any widget has been found with that search term :(
          - else
            = @current_user.eql?(@user) ? 'You have not' : 'This user hasn\'t'
            created any widget :(
    - else
      %thead
        %th ID
        %th NAME
        %th DESCRIPTION
        %th KIND
        %th USER
      %tbody
        - @widgets.each do |widget|
          %tr
            %td
              %span= widget.id
            %td
              %span= widget.name
            %td
              %small= widget.description
            %td
              %span= widget.kind
            %td
              = link_to '#', 'data-target' => "#userShowModal-#{widget.user.id}", 'data-toggle' => 'modal', type: 'button' do
                = image_tag widget.user.images.small_url, alt: widget.user.name, height: 30
                %i= widget.user.name
            %td
              = link_to 'Edit', '#', 'data-target' => "#editWidgetModal-#{widget.id}", 'data-toggle' => 'modal'
            %td
              = link_to 'Delete', widget_path(widget.id), method: :delete, data: { confirm: 'Are you sure?' }
          = render '/api/v1/widgets/edit', widget: widget