%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  %a.navbar-brand{href: root_path} Showoff
  %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", type: "button"}
    %span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      %li.nav-item.active
        %a.nav-link{href: widgets_path}
          Widgets
          %span.sr-only (current)
      %li.nav-item
        %a.nav-link{href: "#"} Link
      -# %li.nav-item.dropdown
        %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", href: "#", role: "button"}
          Dropdown
        .dropdown-menu{"aria-labelledby" => "navbarDropdown"}
          %a.dropdown-item{href: "#"} Action
          %a.dropdown-item{href: "#"} Another action
          .dropdown-divider
          %a.dropdown-item{href: "#"} Something else here
      %li.nav-item
        %a.nav-link.disabled{"aria-disabled" => "true", href: "#", tabindex: "-1"} Disabled
    = form_tag(search_widgets_path, method: :get, class: 'form-inline my-2 my-lg-0') do
      = text_field_tag :term, nil, placeholder: 'Enter search term...', class: 'form-control mr-sm-2', input_html: {"aria-label" => "Search", placeholder: "Search", type: "search"}
      = submit_tag 'Search', class: 'btn btn-outline-success my-2 my-sm-0 mx-1'
    %button.btn.btn-primary.mx-1{"data-target" => "#signInModal", "data-toggle" => "modal", type: "button"}
      Sign in
    %button.btn.btn-primary.mx-1{"data-target" => "#signUpModal", "data-toggle" => "modal", type: "button"}
      Sign up

= render '/layouts/sign_in_modal'
= render '/layouts/sign_up_modal'