!!!
%html
  %head
    %meta{content: 'width=device-width, initial-scale=1.0', name: 'viewport'}
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-type'}
    %meta{content: 'This is a Showoff test', name: 'description'}
    %meta{content: 'Showoff, Ruby on Rails, Test', name: 'keywords'}
    %meta{content: '#ff3000', name: 'theme-color'}
    %meta{content: 'summary', name: 'twitter:card'}
    %meta{content: '@showoff_ie', name: 'twitter:site'}
    %meta{content: 'Showoff Development Test', name: 'twitter:title'}
    %meta{content: 'This is a Showoff test', name: 'twitter:description'}
    %meta{content: 'Showoff', property: 'og:title'}
    %meta{content: 'https://showoff.ie/', property: 'og:url'}
    %meta{content: 'This is a Showoff test', property: 'og:description'}
    %link{href: 'http://showoff.ie/assets/favicons/favicon-16x16-c7b9d022d6a6d8235b21c13801cead86a745d2e4fe60c36849e577a740af79e8.png', rel: "icon", sizes: "16x16", type: "image/png"}
    %title Showoff Widgets
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css', crossorigin: 'anonymous', integrity: 'sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh', rel: 'stylesheet'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity: 'sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin: 'anonymous'
    = javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js', integrity: 'sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1', crossorigin: 'anonymous'
    = javascript_include_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js', integrity: 'sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM', crossorigin: 'anonymous'
    = javascript_include_tag 'https://cdn.jsdelivr.net/npm/sweetalert2@9'
  %body
    = render '/partials/navbar'
    = yield
    = render '/partials/sweetalert'